.footer {
  color: #834a5d;
  margin-bottom: $spc-md;
  margin-top: $spc-xl;
  font-weight: bold;
  font-size: $fz-sm;
  margin-left: $spc-xl;

  @include tablet {
    margin-left: $spc-lg;
  }
  
  .heart-emoji {
    color: #c70039;
  }
}