.introduction {

    @include phone {
        grid-row-start: 2;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        margin-right: auto;
        font-weight: 300;
        color: $clr-base-dark;

        &-who {
            justify-self: right;
            align-self: end;
            margin-right: 12px;
            margin-bottom: -2px;

            @include tablet {
                font-size: $fz-lg;
            }

            @include phone {
                font-size: size(20.25);
            }
        }

        &-name {
            color: $clr-secondary;
            font-size: $fz-xxl;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 1.4px;
            margin-left: -2px;
            
            @include tablet {
                font-size: size(46.18);
            }
            
            @include phone {
                font-size: size(36.49);
            }
        }

        &-profession {
            font-size: 24px;
            grid-column: 2 / -1;
            letter-spacing: 2px;

            @include tablet {
                font-size: size(21.25);
            }

            @include phone {
                grid-column: 1 / -1;
                font-size: size(20.25);
            }
        }
    }
}