.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
    justify-content: center;

    @include phone {
      margin-left: auto;
      margin-right: auto;
    }
  
  &__item {
    height: size(130);
    min-width: size(130);
    background-color: #fff;
    margin: 10px;
    display: block;
    background: url(../assets/images/placeholder.png) center center;
    background-size: cover;
    transition: all 0.3s ease;
    position: relative;

    @include tablet {
      height: size(100);
      min-width: size(100);
    }

    @include phone {
      height: size(80);
      min-width: size(80);
      margin: 5px;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

        &::after {
            opacity: 1;
        }
    }
  }
}