.service {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: $spc-lg;
  
  @include tablet {
    grid-template-columns: 50px 1fr;
    grid-gap: $spc-md;
  }

  @include phone {
    grid-template-columns: 45px 1fr;
  }
  
  + .service {
    margin-top: 30px;
  }
  
  &__logo {
    width: 60px;
    justify-self: center;
  }
  
  &__title {
    color: $clr-base;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
  }
}