.social {
    grid-column: 1 / -1;
    justify-self: end;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: $spc-xl;

    @include tablet {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: $spc-lg;
    }

    @include phone {
        justify-self: center;
        margin-top: $spc-lg;
        margin-bottom: $spc-lg;
        padding-right: 0px;
    }
}
  
.social-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    right: 100px;
    top: 40px;
    grid-column-gap: 30px;

    @include phone {
        grid-column-gap: 0;
        
        a {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__item-img {
        height: 23px;
        transition: all 0.3s ease;
        fill: $clr-base-dark;

        &:hover {
            fill: $clr-secondary;
        }

        @include phone {
            height: 20px;
        }
    }
}