/*********************
*       HEADER
*********************/

.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, #ac6d82, #db7280);
  border-right: 2px solid var(--clr-secondary);
  box-shadow: 0px 0px 10px rgba(172, 109, 130, 0.5);
  width: 70px;
  z-index: 999;
}

.nav-item {
  display: block;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-item:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--clr-secondary);
  position: absolute;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 0.3s;
}

.nav-item:hover:before {
  transform: translateX(0);
}

.nav-item:hover .nav-item-icon {
  fill: var(--clr-base-dark);
}

.nav-item.active {
  background-color: var(--clr-secondary);
}

.nav-item-icon {
  transition: all 0.3s;
  height: 23px;
  fill: var(--clr-secondary);
}

.nav-item.active .nav-item-icon {
  fill: var(--clr-base-dark);
}

@media screen and (max-width: 500px) {
  .header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: none;
    border-bottom: 2px solid var(--clr-secondary);
  }

  .navigation {
    display: flex;
  }

  .nav-item {
    width: 60px;
    height: 60px;
  }
}

/*********************
*       MAIN
*********************/

.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    140deg,
    #db7280,
    #b26d80 25%,
    #cb707f 25%,
    #cb707f 75%,
    #b26d80 75%,
    #db7280
  );
  display: grid;
  grid-template-columns: 45% 55%;
  grid-auto-rows: minmax(min-content, max-content) 1fr;
}

@media screen and (max-width: 500px) {
  .main {
    height: calc(100vh - 62px);
  }
}

/*********************
*       SOCIAL
*********************/

.social-wrapper {
  grid-column: 1 / -1;
  justify-self: end;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 100px;
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  right: 100px;
  top: 40px;
}

.social svg {
  height: 23px;
  transition: all 0.3s ease;
  fill: var(--clr-base-dark);
}

.social svg:hover {
  fill: var(--clr-secondary);
}

/*********************
*      CONTENT
*********************/

.content {
  align-self: end;
}

.article-wrapper {
  margin-left: 100px;
  margin-top: 30px;
  margin-right: 20px;
}

.article {
  align-self: end;
  opacity: 0;
  transform: translateX(-100%);
}

.article:not(.show) {
  display: none;
}

.show {
  animation: move-in 0.7s ease forwards;
}

.article p {
  font-size: 16px;
  line-height: 1.3;
  color: var(--clr-base);
  font-weight: 500;
  letter-spacing: 1.2px;
}

.article p:not(:last-of-type) {
  margin-bottom: 15px;
}

.article .btn {
  margin-top: 40px;
}

.btn {
  color: var(--clr-base);
  background-color: var(--clr-base-dark);
  border: none;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(68, 91, 124, 0.3);
  transition: all 0.3s;
}

.btn:hover {
  background-color: #394f6d;
}

.btn svg {
  height: 20px;
  margin-right: 10px;
  fill: var(--clr-base);
}

/*********************
*       RESUME
*********************/

.resume-wrapper {
  border-left: 2px solid var(--clr-base);
}

.resume-job {
  padding-left: 30px;
  position: relative;
  margin-bottom: 40px;
}

.resume-job:before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  background-color: var(--clr-secondary);
  position: absolute;
  left: -9px;
}

.resume-job h3 {
  font-size: 20px;
  color: var(--clr-base);
  line-height: 1;
  margin-bottom: 10px;
}

.resume-job .time-and-role {
  color: var(--clr-secondary);
}

/*********************
*    PRESENTATION
*********************/

.main-heading {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  margin-right: auto;
}

.main-heading .first-word {
  justify-self: right;
  align-self: end;
  margin-right: 12px;
  margin-bottom: -2px;
}

.main-heading .name {
  color: var(--clr-secondary);
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.4px;
  margin-left: -2px;
}

.main-heading .nomenclature {
  font-size: 24px;
  grid-column: 2 / -1;
  letter-spacing: 2px;
}

.main-heading span {
  font-weight: 300;
  font-size: 28px;
  color: var(--clr-base-dark);
}

/*********************
*     PORTFOLIO
*********************/
#portfolio ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}

#portfolio ul li a {
  height: 130px;
  min-width: 130px;
  background-color: #fff;
  margin: 10px;
  display: block;
  background: url(../images/placeholder.png) center center;
  background-size: cover;
  transition: all 0.3s ease;
  position: relative;
}

#portfolio ul li a:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

#portfolio ul li a:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

#portfolio ul li a:hover::after {
  opacity: 1;
}

/*********************
*       CONTACT
*********************/
#contact .contact-info {
  margin-bottom: 30px;
}

#contact .contact-info li {
  margin: 5px;
  display: flex;
  align-items: center;
}

#contact .contact-info li:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background-position: center center;
  background-size: cover;
}
#contact .contact-info .phone:before {
  background-image: url(../images/telefone_contato.svg);
}
#contact .contact-info .mail:before {
  background-image: url(../images/email.svg);
}
#contact .contact-info .address:before {
  background-image: url(../images/pin_localizacao.svg);
}

#contact .contact-info a {
  font-size: 18px;
  color: #fff;
}

#contact .contact-info a:hover {
  text-decoration: underline;
}

/*********************
*       FOOTER
*********************/

.footer {
  color: #834a5d;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 100px;
}

.heart-emoji {
  color: #c70039;
}

@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
