h2 {
    color: $clr-secondary;
    font-weight: normal;
    font-size: $fz-xl;
    padding-left: $spc-xl;
    padding-right: 40px;
    border-bottom: 2px solid $clr-secondary;
    display: inline-block;

    @include tablet {
        font-size: $fz-lg;
        padding-left: $spc-lg
    }

    @include phone {
        padding-left: $spc-md;
    }
}

p {
    font-size: $fz-md;
    line-height: 1.3;
    color: $clr-base;
    font-weight: 500;
    letter-spacing: 1.2px;

    @include tablet {
        font-size: $fz-sm;
    }
}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      140deg,
      #db7280,
      #b26d80 25%,
      #cb707f 25%,
      #cb707f 75%,
      #b26d80 75%,
      #db7280
    );
    display: grid;
    grid-template-columns: 45% 55%;
    grid-auto-rows: minmax(min-content, max-content) 1fr;

    @include tablet {
        height: calc(100vh - 52px);
        grid-template-columns: 50% 50%
    }

    @include phone {
        grid-template-columns: 1fr;
    }
}

.content {
    align-self: end;

    @include phone {
        position: absolute;
        top: calc(100vh + 2rem);
    }
}

.wrapper {
    display: flex;
    
    @include tablet {
        flex-direction: column;
    }
}
  
@media screen and (max-width: 500px) {
    .wrapper {
        flex-direction: column;
    }
}