h2 {
    color: $clr-secondary;
    font-weight: normal;
    font-size: 28px;
    padding-left: 100px;
    padding-right: 40px;
    border-bottom: 2px solid $clr-secondary;
    display: inline-block;
}

p {
    font-size: 16px;
    line-height: 1.3;
    color: $clr-base;
    font-weight: 500;
    letter-spacing: 1.2px;
}