/*********************
*       MAIN
*********************/

.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    140deg,
    #db7280,
    #b26d80 25%,
    #cb707f 25%,
    #cb707f 75%,
    #b26d80 75%,
    #db7280
  );
  display: grid;
  grid-template-columns: 45% 55%;
  grid-auto-rows: minmax(min-content, max-content) 1fr;
}

@media screen and (max-width: 500px) {
  .main {
    height: calc(100vh - 62px);
  }
}

/*********************
*      CONTENT
*********************/

.content {
  align-self: end;
}

.article-wrapper {
  margin-left: 100px;
  margin-top: 30px;
  margin-right: 20px;
}

.article {
  align-self: end;
  opacity: 0;
  transform: translateX(-100%);
}

.article:not(.show) {
  display: none;
}



.article p {
  font-size: 16px;
  line-height: 1.3;
  color: $clr-base;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.article p:not(:last-of-type) {
  margin-bottom: 15px;
}

.article .btn {
  margin-top: 40px;
}

.btn {
  color: $clr-base;
  background-color: $clr-base-dark;
  border: none;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(68, 91, 124, 0.3);
  transition: all 0.3s;
}

.btn:hover {
  background-color: #394f6d;
}

.btn svg {
  height: 20px;
  margin-right: 10px;
  fill: $clr-base;
}

/*********************
*    PRESENTATION
*********************/

.main-heading {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  margin-right: auto;
}

.main-heading .first-word {
  justify-self: right;
  align-self: end;
  margin-right: 12px;
  margin-bottom: -2px;
}

.main-heading .name {
  color: $clr-secondary;
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.4px;
  margin-left: -2px;
}

.main-heading .nomenclature {
  font-size: 24px;
  grid-column: 2 / -1;
  letter-spacing: 2px;
}

.main-heading span {
  font-weight: 300;
  font-size: 28px;
  color: $clr-base-dark;
}