/*********************
*       MAIN
*********************/

.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    140deg,
    #db7280,
    #b26d80 25%,
    #cb707f 25%,
    #cb707f 75%,
    #b26d80 75%,
    #db7280
  );
  display: grid;
  grid-template-columns: 45% 55%;
  grid-auto-rows: minmax(min-content, max-content) 1fr;
}

@media screen and (max-width: 500px) {
  .main {
    height: calc(100vh - 62px);
  }
}

/*********************
*      CONTENT
*********************/

.content {
  align-self: end;
}


/*********************
*    PRESENTATION
*********************/

.main-heading {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  margin-right: auto;
}

.main-heading .first-word {
  justify-self: right;
  align-self: end;
  margin-right: 12px;
  margin-bottom: -2px;
}

.main-heading .name {
  color: $clr-secondary;
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.4px;
  margin-left: -2px;
}

.main-heading .nomenclature {
  font-size: 24px;
  grid-column: 2 / -1;
  letter-spacing: 2px;
}

.main-heading span {
  font-weight: 300;
  font-size: 28px;
  color: $clr-base-dark;
}