// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

$clr-primary: #dd717f;
$clr-gradient: linear-gradient(to bottom, $clr-primary, #ac6d82);
$clr-secondary: #ffaa55;
$clr-base: #fff;
$clr-base-dark: #445b7c;